.bgpic 
{
	background: url("../img/SAM_4625.JPG");
	background-size: 100% 100%;
	padding: 100px;
	border-bottom-style: solid;
	border-bottom-color: #336633;
	border-bottom-width: 10px;
	border-top-style: solid;
	border-top-color: #336633;
	border-top-width: 10px;
}

.bgcolor
{
	background: #333333;
}

.centro 
{
	text-align: center;
}

.encabezado
{
	padding: 20px
}